.header {
  color: black;
  text-align: center;
  font-size: 5vw;
  margin-top: 1%;
}

.title {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 150%;
  font-weight: bold;
  color: rgb(243, 241, 146);
}
.language {
  margin-left: 100%;
  size: small;
}
